<% @articulos.each do |articulo|%>
    <h1><%= link_to articulo.title,articulo %></h1>
    <p><%=articulo.body%></p>
    <%= link_to "Editar", edit_article_path(articulo)%>
    <%= link_to"Eliminar #{articulo.title}", articulo, method: :delete, data:{confirm: "Estas seguro de eliminar el articulo?"} %>
    
<%end%>